<style>
        body {
            font-family: 'Nunito', sans-serif;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          color: blue;
          font-size: 30px;

      }

      A:link {text-decoration:none;color:blue;}
      A:active {text-decoration:none;color:#ff0000;}
      A:hover {text-decoration:underline;color:gold;} 
</style>